*body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand {
    font-family: "Qwigley", cursive !important;
    font-size: 60px !important;
    font-weight: 400;
    width: 221px;
    height: 96px;
    margin-top: 11px;
    margin-left: 100px;
    color: #ffb30e !important;
}

.address {
    margin-top: 43px;
    margin-left: 100px;
}

.address p {
    font-family: "Source Sans 3", sans-serif;
    font-size: 18px !important;
    font-weight: 700;
}

.location {
    font-family: "Open Sans", sans-serif;
    font-size: 18px !important;
    font-weight: 400;
}

.street {
    font-family: "Open Sans", sans-serif;
    font-size: 18px !important;
    font-weight: 700;
}

.logo {
    font-size: 18px;
    font-weight: 900;
}

.nav-login {
    width: 272px;
    height: 46px;
    margin-left: 60px;
}

.search {
    font-family: "Source Sans 3", sans-serif;
    font-size: 18px !important;
    font-weight: 700;
}

.user {
    font-family: "Source Sans 3", sans-serif;
    font-size: 18px !important;
    font-weight: 700;
    text-align: center;
}

.content {
    font-family: "Qwigley", cursive;
    font-size: 60px;
    font-weight: 400;
    color: #ffffff;
    margin-left: 80px;
    margin-top: 40px;
    padding-top: 80px;
}

.near {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #504f4f;
}

.alone {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 700;
    background-color: rgba(241, 114, 40, 0.1) !important;
}

.addr {
    font-family: "Open Sans", sans-serif;
    font-size: 12px !important;
    font-weight: 400;
    color: #9e9e9e;
    background-color: #f5f5f5;
}

.delivery-cards {
    width: 357px;
    height: 301px;
    border-radius: 10px;
    gap: 5px;
}

.find-food {
    font-family: "Source Sans 3", sans-serif !important;
    font-weight: 700;
    text-align: center;
}

.section-card {
    margin-top: 95px;
}

.section-card card {
    width: 357px;
    height: 301px;
    margin-top: 95px;
    margin-left: 240px;
    border-radius: 10px;
}

.section-card h5 {
    font-family: "Source Sans 3", sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-align: left;
}

.section-card p {
    font-family: "Source Sans 3", sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    color: #f17228;
    background-color: #f1722833;
    width: 183px;
    height: 42px;
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    gap: 10px;
}

.section-work h1 {
    font-family: "Source Sans 3", sans-serif;
    font-size: 43px;
    font-weight: 700;
    text-align: center;
    color: #f17228;
    margin-top: 160px;
    margin-bottom: 48px;
}

.section-work h2 {
    margin-top: 10px;
    margin-left: 30px;
    width: 152px;
    height: 84px;
    top: 1581px;
    font-family: "Source Sans 3", sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: linear-gradient(92.84deg, #fb3c00 -47.72%, #ffb800 136.81%);
}

.food-search {
    margin-top: 199px;
    height: 556px;
}

.food-search h3 {
    width: 290px;
    height: 48px;
    font-family: "Source Sans 3", sans-serif;
    font-size: 43px;
    font-weight: 700;
    translate: 0px 76px;
}

.food-search-card {
    translate: 0px 150px;
}

.card-title {
    font-family: "Source Sans 3", sans-serif;
    font-size: 43px;
    font-weight: 700;
}

.card-title1 {
    color: #ffb30e;
}

.card-text {
    color: #616161b0;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
}

.proceed a {
    padding: 21px 48px 21px 48px;
    border-radius: 8px;
    gap: 10px;
}

.name {
    margin-top: 129px;
}

.meals {
    width: 961px;
    height: 512px;
    border-radius: 20px;
}

.popular-items h1 {
    text-align: center;
    margin-top: 130px;
    margin-bottom: 46px;
}

.popular-items h5 {
    font-family: "Source Sans 3", sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.popular-items a {
    background-color: #f17228;
    width: 200px;
    border: 0;
}

.footer ul li {
    list-style-type: none;
}

.footer h3 {
    width: 92px;
    height: 26px;
    font-family: "Source Sans 3", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}

.footer ul li {
    color: #ffffff;
    font-family: "Source Sans 3", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.follow p {
    color: #f5f5f5;
    font-family: "Source Sans 3", sans-serif;
    font-size: 14px;
    font-weight: 700;
}